{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block content %}
<div class="p-5 col-lg-4">
    <h1>{% if form.instance.pk %}Update
        {% else %}Add
        {% endif %}</h1>
    <hr>
    <form action=""
        method="post">
        {% csrf_token %}
        {{form|crispy}}
        <div class="text-end">
            <button class="btn btn-sm btn-danger"
                type="submit">Submit</button>
        </div>
    </form>
</div>
<script>
    $("#id_location").select2();
</script>
{% endblock content %}