{% extends "base.html" %}

{% load crispy_forms_tags %}

{% load humanize %}

{% block content %}
<div class="px-5">
    <div class="col-lg-5 mx-auto my-5">
        <form action="{% url 'list' %}"
            method="get">
            <input class="form-control form-control-sm rounded-pill"
                type="text"
                name="q"
                placeholder="Search Description, Location and Remarks"
                value="{{ request.GET.q }}">
        </form>
    </div>
    <h1 class="text-center">DIPT's Material Lab Inventory</h1>
    <hr>
    <div class="row">
        <div class="col-lg-3 p-4 border border-dark rounded-4">
            <form action="{% url 'create' %}"
                method="post">
                {% csrf_token %}
                {{form|crispy}}
                <div class="text-end">
                    <button class="btn btn-sm btn-danger"
                        type="submit">Submit</button>
                </div>
            </form>
        </div>
        <div class="col px-5">
            <div class="table-responsive">
                <table class="table table-sm table-hover small">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Description</th>
                            <th scope="col">Qty</th>
                            <th colspan="2"
                                scope="col">Condition</th>
                            <th scope="col">Location</th>
                            <th scope="col">Remarks</th>
                            <th scope="col">Updated</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for ob in object_list %}
                        <tr>
                            <th scope="row">{{forloop.counter}}</th>
                            <td><a
                                    href="{% url 'detail' ob.pk %}">{{ob.description}}</a>
                            </td>
                            <td>{{ob.quantity}}</td>
                            <td>{{ob.condition}}</td>
                            <td>{{ob.condition1}}</td>
                            <td>{{ob.location}}</td>
                            <td>{{ob.remarks}}</td>
                            <td>{{ob.updated_at|naturaltime}}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock content %}